/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*HSL(hue, saturation, lightness)*/


  --first-color: #ff54b3;   /*pink*/
  --first-color-alt: hsl(317 100% 54%);   /*neon pink*/
  --second-color: #17aab5;   /*blue*/
  --third-color: #8280ff;     /*purple*/
  --title-color: #ffffff;   /*white*/
  --text-color: #ADAA9F;  /*default light brown*/
  --text-color-alt: #a8b2d1;  /*medium lilac*/  
  --body-color: hsl(228, 15%, 20%);    /*default light grey*/
  --container-color: hsl(228, 15%, 15%);  /*default blue-black*/
  --container-color-alt: #112240;     /*navy*/

  /*========== Font and typography ==========*/
  /*0.5rem = 8px | 1rem = 16px*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 3rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
textarea,
button {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.section__title {
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
}

.section__subtitle span {
  color: var(--first-color);
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  background-color: var(--container-color);
  top: 0;
  left: 0;
  z-index: var(--z-fixed);  
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  max-width: 2.4rem;
  padding-top: 0.3rem
}

/* JS */
.nav_toggle,
.nav__close {
  display: flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 10%, .3);
    width: 75%;
    height: 100%;
    padding: 4.5rem 0 0 3rem;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    transition: right 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: color 0.4s;
}

.nav__link:hover {
  color: var(--first-color);
}

/* close button */
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show menu */ 
.show-menu {
  right: 0;
}

/* Add blur to header */
.blur-header {
  background-color: transparent;
}

.blur-header::after {
  content: "";
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(0, 0%, 10%, .3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
  top: 0;
  left: 0;
  z-index: -1;
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home {
  background-color: var(--container-color);
}

.home__container {
  padding-top: 2rem;
  row-gap: 2.5rem;
}

.home__content {
  display: grid;
  row-gap: 2rem;
}

.home__data {
  text-align: center;
  /* display:flex;
  flex-direction: column; */
}

/* Home title and typewriter effect..... adding h1 stops typewriter effect and some of the below properties from working? May need to separate out h1 and the class*/
.h1 {
  margin: 0 auto; /* Scrolling effect as typing happens */
  text-animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
  float: left;
  margin-block: 1rem 1.5rem; 
}

.home__title {
  font-weight: var(--font-semi-bold);
  font-size: var(--h1-font-size);
  letter-spacing: 0.3rem;
  display: block;
  overflow: hidden;
  white-space: nowrap; /* Keeps content on single line */
}

.home__name {
  font-size: 1em;
  margin-top: 20px;
  color: var(--first-color);
}

.home__dot {
  font-size: 1em;
  margin-top: 20px;
  color: var(--text-color);
}

@keyframes typing {   /* Typing effect currently not working!? */
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

blink {
  animation: blink 1s infinite;
  color: var(--second-color);
  font-size: 1.2em;
}

/* Home detail */
/* .home_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
} */

.home__fullname,
.home__description {
  margin-block: 1rem 1.5rem;
}

.home__fullname {
  color: var(--text-color-alt);
  margin: 0 auto;
}

.home__description {
  color: var(--title-color);
  font-size: var(--bigger-font-size);
  font-weight: var(--font-semi-bold);

}

/* Avatar */
.home__image {
  justify-self: center;
}

.home__blob {
  width: 320px;
  fill: var(--first-color);
  filter: drop-shadow(0 12px 12px var(--first-color-alt));
  /* filter: drop-shadow(0 0 0.75rem var(--first-color-alt)); */
}

/*=============== BUTTONS ===============*/
/* .home__button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: box-shadow .4s;
}

.button:hover {
  box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, .25);
} */

/* Home Buttons */
.home__button {
  font-size: var(--bigger-font-size);
  display: inline-block;
  flex-direction: row;
  cursor: pointer;
  color: var(--title-color);
  border: currentColor var(--first-color-alt) 0.125em solid;
  padding: 1rem 1.75rem;
  border-radius: 1.75em;
  margin-bottom: 2rem;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.5em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--first-color-alt), 0 0 0.5em 0 var(--first-color-alt);
  position: relative;
  transition: background-color 100ms linear;
}

.home__button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--first-color-alt);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2em;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1.5em);
  opacity: 0.7;
}

.home__button:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--first-color);
  box-shadow: 0 0 2em 0.5em var(--first-color-alt);
  opacity: 0;
  background-color: var(--first-color-alt);
  z-index: -1;
  transition: opacity 100ms linear;
  border-radius: 2em;
}

.home__button:hover,
.home__button:focus {
  background: var(--first-color-alt);
  color: var(--title-color);
  text-shadow: none;
  border-radius: 2em;
}

.home__button:hover::before {
  opacity: 1;
}

.home__button:hover::after,
.home__button:focus::after {
  opacity: 1;
}

/* Other buttons */


/*=============== SKILLS ===============*/
.skills {
  background-color: var(--container-color);
}

.section__title {
  font-size: var(--h2-font-size);
  /* color: var(--title-color) */
  text-align: center;
  margin-bottom: 2rem;
}

.skills__img {
  width: 55px;
  transition: transform 0.4s;
}

.skills__img:hover {
  transform: translateY(-0.5rem);
}

.skills__content {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: center;
  align-items: center;
  gap: 2rem 1.5rem;
}

/*=============== ABOUT ===============*/


/*=============== SERVICES ===============*/


/*=============== PROJECTS ===============*/


/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */
